.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("../images/caution.png");
}
.rmdimportant {
  background-image: url("../images/important.png");
}
.rmdnote {
  background-image: url("../images/note.png");
}
.rmdtip {
  background-image: url("../images/tip.png");
}
.rmdwarning {
  background-image: url("../images/warning.png");
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 0px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}
.centre {
  text-align: center;
  font-weight: 1000;
}






.book .book-body .page-wrapper .page-inner section.normal h1 {
    margin-top: 1.275em;
    margin-bottom: 0em;
}


.level1 .header-section-number {
    display: inline-block;
    border-bottom: 3px solid;
    font-weight: bold;
}
.title_matter {
  margin-top: 0.7em;
  /* margin-bottom: 0.2em; */
 /*  text-indent: 2.25em; */
  line-height: 1.2em;
}
.chapter-authors {
  color:#007B6B;
}
.author-info {
  color:#5f543f; 
  font-size: 0.8em; 
  line-height: 1.2em;
  border-bottom: 1px solid;
}




.book .book-body .page-wrapper .page-inner section.normal h1 {
    font-size: 2.25em;
    font-weight: bold;
    color: #5f543f;
  /*  padding-left: 1em; */
  /*  text-indent: -0.5em; */
    line-height: 1.2em;
}
.book .book-body .page-wrapper .page-inner section.normal h2{
  font-weight: bold;
  color: #E36C0A;
}

.title-image {
  text-align: center;
  margin-top: 1em;
}

.text-image {
  text-align: center;
  /*margin-top: 1em; */
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 0.9;
    font-size: 1.1em;
    color: #008574;
    font-weight: bold;
    border-left: 4px solid #008574;
}
.book .book-body .page-wrapper .page-inner section.normal h3{
  color: #008575;
}
.book .book-body .page-wrapper .page-inner section.normal h4{
  color: #008575;
  font-weight: bold;
}
a.anchor-section::before {
  content: none;
}
.book .book-body .page-wrapper .page-inner section.normal a {
  color: none;
  text-decoration: none;
  background: none;
}
.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
  color: #E36C0A;
  background: 0 0;
  text-decoration: none;
}
.book .book-summary ul.summary li a {
  color: #5f543f;
  background: 0 0;
  text-decoration: none;
}
.book .book-header .btn {
  display: block;
  height: 50px;
  padding: 0 15px;
  border-bottom: none;
  color: #5f543f;
  text-transform: uppercase;
  line-height: 50px;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  position: relative;
  font-size: 14px;
}
.book .book-header .btn:hover {
  position: relative;
  text-decoration: none;
  color: #E36C0A;
  background: 0 0;
}
.dropdown-menu .buttons .button {
  border: 0;
  background-color: transparent;
  color: #5f543f;
  width: 100%;
  text-align: center;
  float: left;
  line-height: 1.42857143;
  padding: 8px 4px;
}
.alert, .dropdown-menu .buttons .button:hover {
  color: #E36C0A;
}
.book .book-header h1 a, .book .book-header h1 a:hover {
  color: #5f543f;
  /* font-weight: bold; */
  text-decoration: none;
}
.book .book-summary .book-search input, .book .book-summary .book-search input:focus, .book .book-summary .book-search input:hover {
  width: 100%;
  background: transparent;
  border: 1px solid #5f543fa8;
  color: #5f543fa8;
  box-shadow: none;
  outline: none;
  line-height: 22px;
  padding: 7px 4px;
  color: inherit;
  box-sizing: border-box;
}
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #008575;
  text-decoration: none;
  background: 0 0;
}

.book .book-body .page-wrapper .page-inner section.normal p {
  margin-top: 0;
  margin-bottom: .55em;
  }